#contact-form-content {}
#contact-form-content .container-fluid {}
#contact-form-content .container-fluid .row {
    padding: 0 10%;
}
.contact-form-content {
    margin-bottom: -53px;
    margin-top: 70px;
}
.contact-form-content h3 {
    font-size: 24px;
    color: #222222;
    font-family: 'Lato', sans-serif;
}
.contact-form-content p {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #11111180;
    line-height: 1.467em;
    margin-bottom: 25px;
    margin-top: 6px;
}
.contact-form-content input::placeholder {
    color: #11111180 !important;
}
.contact-form-content input {
    outline: none;
    margin: 8px 0;
    border-color: #11111133;
    width: 99%;
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    height: 50px;
    border-width: 1px 1px 1px 1px;
    font-size: 15px;
    color: #11111180;
}
.contact-form-content textarea::placeholder {
    color: #11111180 !important;
}
.contact-form-content textarea {
    outline: none;
    margin: 8px 0;
    border-color: #11111133;
    font-family: 'Lato', sans-serif;
    width: 99%;
    padding-left: 18px;
    height: 117px;
    padding-top: 11px;
    border-width: 1px 1px 1px 1px;
    font-size: 15px;
    color: #11111180;
}
.contact-form-content button {
    background: #222222;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding: 15px 32px;
    margin-top: 3px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    transition: 0.5s;
    letter-spacing: 3px;
}
.contact-form-content button:hover {
    transform: translateY(-10px);
}
.contact-form-content button .fa-1x {
    font-size: 10px;
    margin-left: 6px;
}
.contact-map-content {
    /*background-image: url("../image/goole-map.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*cursor: pointer;*/
}
.contact-me-location-content {}
.contact-me-location-content .card {
    border: none;
    box-shadow: 0px 0px 6px 1px #80808057;
    padding: 10px;
    border-radius: 0;
}
.contact-page-card-left-content {}
.contact-page-card-left-content h4 {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.contact-map-content .row {
    padding: 0 14px !important;
}
.contact-me-location-content {
    padding: 10px 0;
}
.contact-me-location-content .row {
    padding: 0 !important;
}
.contact-page-card-left-content p {
    font-size: 12px;
    font-weight: 500;
    margin-top: -3px;
    font-family: 'Lato', sans-serif;
    color: #111111b8;
    line-height: 1.467em;
}
.contact-page-card-left-content h5 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: -11px;
    margin-bottom: 2px;
    color: #404040;
}
.contact-page-card-left-content h5 a:hover {
    color: #1a73e8;
}
.contact-page-card-left-content h5 a {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    color: #196cdb;
}
.contact-page-card-left-content span:hover {
    text-decoration: underline;
}
.contact-page-card-left-content span {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
    color: #196cdb;
}
.contact-page-right-content {}
.contact-page-right-content .fa-1x {
    color: #1867d1;
    font-size: 18px;
}
/*contact-me-bottom-content*/
.contact-me-bottom-content {
    padding-top: 301px;
    margin-bottom: -123px;
}
.contact-me-bottom-content .row {}
.contact-me-bottom-map-content {
    padding-top: 46px;
}
.contact-me-bottom-map-content img:hover {
    border: 5px solid white;
}
.contact-me-bottom-map-content img {
    height: 50px;
    box-shadow: 0px 0px 6px 1px #80808045;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 2px;
}
.contact-me-bottom-right-content {
    display: flex;
    margin-bottom: 38px;
    justify-content: end;
}
.contact-me-bottom-right-content .card {
    border: none;
    box-shadow: 0px 0px 6px 1px #80808057;
    padding: 10px 5px;
    border-radius: 0;
    width: 39px;
    text-align: center;
}
.contact-me-bottom-right-content .card .fa-1x:hover {
    color: black;
}
.contact-me-bottom-right-content .card .fa-1x {
    font-size: 21px;
    color: #0000009c;
}
.contact-me-bottom-right-content .card hr {
    margin-top: 8px;
    margin-bottom: 8px;
}
/*media-query-content*/
/*mobile-320-screen-content*/
@media only screen and (max-width: 375px) {
    #contact-slider-content {
        background-position: center;
        background-size: cover;
    }
}
@media only screen and (max-width: 425px) {
    #contact-slider-content {
        background-position: center;
        background-size: cover;
    }
}
@media only screen and (max-width: 320px) {
    .-about-slider-text-column-container h2 {
        font-size: 47px;
    }
    #contact-slider-content {
        background-position: center;
        background-size: cover;
    }
    #contact-form-content .container-fluid .row {
        padding: 0 5%;
    }
    .contact-me-bottom-map-content {
        padding-top: 46px;
        margin-bottom: -90px;
    }
    .contact-page-right-content {
        margin-top: -47px;
        margin-left: 158px;
    }
    .contact-me-bottom-content {
        padding-top: 120px;
    }
    .contact-form-content p {
        font-size: 13px;
    }
    .contact-form-content h3 {
        font-size: 22px;
    }
    #contact-me-content .container-fluid .row .col-md-6 {
        padding-left: 0 !important;
    }
    #contact-me-content {
        background: #f2f2f2;
        padding-top: 20px;
    }
}