
#slider-content {
    background-image: url("../image/hero-home.jpg");
}
#about-slider-content {
    background-image: url("../image/hero-about.jpg");
    margin-bottom: -136px;
}
/*logo-navbar-content*/
.logo-nav-content {
    background: #00000029;
}
.logo-nav-content hr {
    width: 100%;
    margin-top: 14px;
    background: #fff2e080;
}
.logo-nav-content .container-fluid {}
.logo-nav-content .container-fluid .row {
    padding: 19px 10%;
    padding-bottom: 0px;
}
.logo-nav-content .container-fluid .row .col-md-4 {
    /*margin-bottom: -81px;*/
    /*margin-top: 2px;*/
}
.logo-nav-content .container-fluid .row .col-md-3 {
    text-align: right !important;
    margin-bottom: -81px;
    margin-top: 2px;
}
.logo-navbar-icon-links {}
.logo-navbar-icon-links ul {
    display: flex;
}
.logo-navbar-icon-links ul li {
    list-style: none;
    margin: 0 15px;
}
.logo-navbar-icon-links ul li .fa-1x {
    color: #FFFF;
    font-size: 14px;
    cursor: pointer;
}
.logo-nav-right-icon-link {}
.logo-nav-right-icon-link ul {
    display: flex;
}
.logo-nav-right-icon-link ul li {
    list-style: none;
    margin: 0 15px;
}
.logo-nav-right-icon-link ul li .fa-1x {
    color: #FFFF;
    cursor: pointer;
    font-size: 14px;
}
.logo-navbar-logo-content {}
.logo-navbar-logo-content img {
    cursor: pointer;
}
/*list-navbar-content*/
.list-navbar-content {
    background: #00000029;
}
.list-navbar-content .container-fluid {}
.list-navbar-content .container-fluid .row {}
.list-navbar-content .container-fluid .row .col-md-12 {}
.list-navbar-list-content {}
.list-navbar-list-content ul {
    display: flex;
    justify-content: end;
}
.list-navbar-list-content ul li {
    list-style: none;
    margin: 0 30px;
}
.list-navbar-content .container-fluid .row .col-md-6 {
    padding: 0;
}
.list-navbar-list-content ul li p {}
.list-navbar-list-content ul li p .drop {}
.list-navbar-list-content ul li p .drop:before {
    content: '';
    display: inline-block;
    border: 5px solid;
    border-color: #fff transparent transparent;
    margin: -4px 3px;
}
.list-navbar-list-content .dropdown-menu a {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    transition: 0.4s;
    font-weight: 700;
}
.list-navbar-list-content .dropdown-menu a:hover {
    background: #DBA372;
    color: white;
}
.list-navbar-list-content .dropdown-menu {
    top: 156%;
    left: -1px;
    min-width: 11rem;
    border-radius: 0;
    border: 0;
    background: white;
    padding: 0;
}

.list-navbar-list-content ul li p {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}
/*list-navbar-right-content*/
.list-navbar-right-list-content {}
.list-navbar-right-list-content ul {
    display: flex;
    justify-content: flex-start;
}
.list-navbar-right-list-content ul li {
    list-style: none;
    margin: 0 30px;
}
.list-navbar-right-list-content ul li p {}
.list-navbar-right-list-content ul li p .drop {}
.list-navbar-right-list-content ul li p .drop:before {
    content: '';
    display: inline-block;
    border: 5px solid;
    border-color: #fff transparent transparent;
    margin: -4px 3px;
}
.list-navbar-right-list-content .dropdown-menu a {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    transition: 0.4s;
}
.list-navbar-right-list-content .dropdown-menu a:hover {
    background: #DBA372;
    color: white;
}
.list-navbar-right-list-content .dropdown-menu {
    top: 156%;
    left: -1px;
    min-width: 11rem;
    border-radius: 0;
    border: 0;
    background: white;
    padding: 0;
}

.list-navbar-right-list-content ul li p {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}
/*slider-text-colum-content*/
.slider-text-colum-content {
    background: #00000029;
    height: 608px;
}
.slider-text-colum-content .container-fluid {}
.slider-text-colum-content .container-fluid .row {
    padding: 19px 10%;
}
.slider-text-colum-content .container-fluid .row .col-md-6 {}
.slider-text-column-container {}
.slider-text-column-container hr {
    height: 1px;
    background: #DBA372;
    width: 28px;
    margin-top: 6px;
}
.slider-text-column-container span {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}
.slider-text-column-container h2 {
    font-size: 64px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
}
.slider-text-column-container p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-bottom: 32px;
}
.slider-text-column-container button {
    background: #222222;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 15px 35px;
    transition: 0.4s;
}
.slider-text-column-container button:hover {
    transform: translateY(-10px);
}



/* about-section */

.about-slider-text-colum-content {
    background: #12121270;
    height: 360px;
}
.about-slider-text-colum-content .container-fluid {
    padding-top: 72px;
}
.about-slider-text-colum-content .container-fluid .row {
    padding: 19px 10%;
}
.about-slider-text-colum-content .container-fluid .row .col-md-6 {}
.-about-slider-text-column-container {}
.-about-slider-text-column-container {}
.-about-slider-text-column-container hr {
    height: 1px;
    background: #DBA372;
    width: 28px;
    margin-top: 6px;
}
.-about-slider-text-column-container span {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff80;
}
.-about-slider-text-column-container h2 {
    font-size: 41px !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
}
.-about-slider-text-column-container p {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff80;
}
.-about-slider-text-column-container button {
    background: #222222;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 15px 35px;
    transition: 0.4s;
}
.-about-slider-text-column-container button:hover {
    transform: translateY(-10px);
}
/*-about-logo-navbar-content*/
.-about-logo-nav-content {
    background: #12121270;
}
.-about-logo-nav-content hr {
    width: 100%;
    margin-top: 14px;
    background: #fff2e080;
}
.-about-logo-nav-content .container-fluid {}
.-about-logo-nav-content .container-fluid .row {
    padding: 19px 10%;
    padding-bottom: 0px;
}
.-about-logo-nav-content .container-fluid .row .col-md-4 {
    /*margin-bottom: -81px;*/
    /*margin-top: 2px;*/
}
.-about-logo-nav-content .container-fluid .row .col-md-3 {
    text-align: right !important;
    margin-bottom: -81px;
    margin-top: 2px;
}
/*-about-list-navbar-content*/
.-about-list-navbar-content {
    background: #12121270;
}
.-about-list-navbar-content .container-fluid {}
.-about-list-navbar-content .container-fluid .row {}
.-about-list-navbar-content .container-fluid .row .col-md-12 {}
.list-navbar-list-content {}
.list-navbar-list-content ul {
    display: flex;
    justify-content: end;
}
.list-navbar-list-content ul li {
    list-style: none;
    margin: 0 30px;
}
.-about-list-navbar-content .container-fluid .row .col-md-6 {
    padding: 0;
}
/*shop-slider-content*/
#shop-slider-content {
    background-image: url("../image/hero-shop.jpg");
}
@media only screen and (max-width: 320px) {
    #shop-slider-content {
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (max-width: 375px) {
    #shop-slider-content {
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (max-width: 425px) {
    #shop-slider-content {
        background-size: cover;
        background-position: center;
    }
}
#shop-slider-content .container-fluid {}
#shop-slider-content .container-fluid .row {}
/*shop-slider-content*/
#blog-slider-content {
    background-image: url("../image/hero-blog.jpg");
}
@media only screen and (max-width: 320px) {
    #blog-slider-content {
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (max-width: 375px) {
    #blog-slider-content {
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (max-width: 425px) {
    #blog-slider-content {
        background-size: cover;
        background-position: center;
    }
}
#blog-slider-content .container-fluid {}
#blog-slider-content .container-fluid .row {}
/*contact-slider-content*/
#contact-slider-content {
    background-image: url("../image/hero-contact.jpg");
}
#contact-slider-content .container-fluid {}
#contact-slider-content .container-fluid .row {}
/*about-slider-content*/
@media only screen and (max-width: 320px) {
    #about-slider-content {
        background-size: cover;
        background-position: center;
    }
    .story-right-img-content {
        display: none;
    }
    .quality-left-colum-img {
        margin-top: 0 !important;
    }
    .quality-content .container-fluid .row {
        padding: 0 5% !important;
        padding-top: 9% !important;
    }
    .quality-content .container-fluid .row .col-md-6 {
        padding-left: 0 !important;
    }
    .about-text-content p {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 375px) {
    #about-slider-content {
        background-size: cover;
        background-position: center;
    }
    .story-right-img-content {
        display: none;
    }
    .quality-left-colum-img {
        margin-top: 0 !important;
    }
    .about-text-content p {
        margin-top: 50px !important;
    }
    .quality-content .container-fluid .row .col-md-6 {
        padding-left: 0 !important;
    }
}
@media only screen and (max-width: 425px) {
    #about-slider-content {
        background-size: cover;
        background-position: center;
    }
    .story-right-img-content {
        display: none;
    }
    .quality-left-colum-img {
        margin-top: 0 !important;
    }
    .about-text-content p {
        margin-top: 50px !important;
    }
    .quality-content .container-fluid .row .col-md-6 {
        padding-left: 0 !important;
    }
}
@media only screen and (max-width: 770px) and (min-width: 588px) {
    .story-container-testimonials-content h3 {
        font-size: 23px !important;
        margin-top: -54px !important;
    }
    .story-container-testimonials-content h5 {
        margin-top: 15px !important;
        font-size: 13px !important;
    }
    .story-text-content h4 {
        margin-top: 3px !important;
        font-size: 15px !important;
    }
    .found-me-content h2 {
        margin-top: 0px !important;
        font-size: 17px !important;
    }
    .quality-left-colum-img {
        margin-top: 0 !important;
    }
    .quality-content .container-fluid .row {
        padding: 0 5% !important;
        padding-top: 9% !important;
    }
    .story-right-img-content img {
        height: 431px !important;
    }
}